# https://pre-commit.com/

default_stages: [ pre-commit, pre-push ]
default_language_version:
  python: python3.12

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-ast
        always_run: true

      - id: check-json
        always_run: true

      - id: pretty-format-json
        always_run: true
        args: [ --autofix, --indent=4 ]

      - id: check-toml
        always_run: true

      - id: check-yaml
        always_run: true

      - id: check-xml
        always_run: true

      - id: end-of-file-fixer
        always_run: true

      - id: check-docstring-first
        always_run: true

      - id: trailing-whitespace
        exclude: .md$
        always_run: true

      - id: check-added-large-files
        always_run: true

      - id: detect-private-key
        always_run: true

  - repo: https://github.com/bwhmather/ssort
    rev: 0.14.0
    hooks:
      - id: ssort
        entry: ssort

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.3
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format

  - repo: local
    hooks:
      - id: pydantic-settings-export
        name: pydantic-settings-export
        entry: pydantic-settings-export
        language: python
        files: \.py$
        pass_filenames: false
